*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    width: 100%;
   
}
.header-top{
    width: auto;
    height: 36px;
    background-color: #005ec4;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 200px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.header-top .container{
    width: 1400px;
}

.header-main{
    display: flex;
    justify-content: center;
}
.header-main .container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 1110px;
    align-items: center;
}
.header-main .container .logo{
    display: flex;
}
.header-main .container .search{
    width: 620px;
    height: 48px;
    border: 1px solid #005ec4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-main .container .search .search-txt{
    width: 50%;
    height: auto;
    display: flex;
}
.header-main .container .search .search-txt input{
    width: 100%;
    border: none;
    outline: 0;
    padding: 0 5%;
    font-size: 15px;
}
.header-main .container .search .search-right{
    width: 255px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header-main .container .search .search-right .search-item{
    width: 1px;
    padding: 5% 0px;
    border: 1px solid #005ec4;
}
.header-main .container .search .search-right .search-select .search-dropdown{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.search-select:hover .item-dropdown{ 
    display: block;
    visibility: visible;
}
.search-select .item-dropdown{
    display: none;
    position: absolute;
    top: 90%;
    width: 90%;
    height: 100px;
    background: white ;
    z-index: 9;
    overflow: auto;
}
.search-select .item-dropdown a{
    text-decoration:none;
    font-size: 16px;
    font-weight: bold;
    color: #005ec4;
    padding:5%;
}
.search-select .item-dropdown a span{
    display: block;
    padding-left: 5%;
    border-bottom: 0.5px solid gray;
}
.search-right img{
    cursor: pointer;
}
.cart{
    background: #29324e;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.cart span{
    padding: 5px;
    background: yellow;
    columns: #29324e;
    font-weight: bold;
    font-size: 15px;
}
.header-bottom{
    width: 100%;
    background-color: gray;
}
#container {
    width: 100%;
}
.container-menu{
    width: 100%;
    background-color: #EEF0F7;
    display: flex;
    justify-content: center;
}
.frame-menu{
    width: 1110px;
    height: 51px;
    background-color: #EEF0F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-left{
    width: 645px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#font-menu{
    font-size: 15px;
    font-family: "Chakra Petch", sans-serif;
}
.DMSP{
    width: 250px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list{
    display: none;
}
.DMSP:hover + .list {
    display: block;
  }
.XDCH{
    width: 220px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.TT{
    width: 100px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-right{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
.container-main{
    width: 1110px;
    height: 1015px;
    margin-top: 40px;
}
.path{
    height: 20px;
    width: 350px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
#font-path{
    font-size: 16px;
    font-family: "Chakra Petch", sans-serif;
}
.header-product-selection-section{
    width: 1110px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rectangle{
    width: 380px;
    height: 11px;
    background-color: #DDDFE6;
}
#font-header{
    font-size: 24px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    color: #29324E;
}
.name-product{
    display: flex;
    justify-content: space-between;
}
.frame-product{
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product{
    position: relative;
    width: 540px;
    height: 188px;
}
#font-gaming{
    position: absolute;
    font-size: 24px;
    font-family: "Chakra Petch", sans-serif;
    top: 23px;
    left: 32px;
    color: #FFFFFF;
}
#font-detail{
    position: absolute;
    width: 317px;
    height: 42px;
    font-size: 14px;
    font-family: "Chakra Petch", sans-serif;
    top: 73px;
    left: 32px;
    color: #FFFFFF;
}
.btn-see-more{
    position: absolute;
    width: 149px;
    height: 40px;
    top: 130px;
    left: 42px;
    background-color: #F9495F;
    color: #FFFFFF;
    border: none;
    transform: skew(-20deg);
}
.header-trademark{
    width: 1110px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-trademark{
    width: 1110px;
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
}
.one-trademark{
    width: 185px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-left{
    position: absolute;
    top: 40px;
    background-color: #99a0ad;
    border: none;
    height: 40px;
    width: 40px;
    opacity: 0.7;
}
.btn-right{
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #99a0ad;
    border: none;
    height: 40px;
    width: 40px;
    opacity: 0.7;
}
.img-left{
    position: sticky;
    top: 50px;
    width: 120px;
    height: 600px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-left: 30px;
}
.img-right{
    position: sticky;
    top: 50px;
    width: 120px;
    height: 600px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-right: 30px;
}
.frame-header{
    height: 270px;
}
.footer-information{
    width: 100%;
    height: 484px;
    background-color: rgba(0,0,0,.85);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.frame-header-footer{
    display: flex;
    width: 1110px;
    justify-content: space-between;
}
#title-header{
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
}
#content{
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Chakra Petch", sans-serif;

}
.frame-general-information{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-header{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.frame-policy{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.promotion{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-footer{
    width: 280px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.frame-tail{
    width: 1110px;
    display: flex;
    justify-content: space-between;
}
.content-tail-address{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-tail{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-tail{
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-footer-tail{
    width: 1110px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-footer-tail{
    width: 460px;
    display: flex;
    justify-content: space-between;
}